.bio {
    font-family: monospace;
    font-size: 18px;
    width: calc(100% - 300px);
}
body {
    background-color: rgb(210,210,210);
}
.ig-icon {
    font-size: 50px;
    margin-right: 15px;
    text-decoration: none;
    color:0;
}
.yt-icon {
    font-size: 50px;
    color:0;
    text-decoration: none;
}
.sfy-icon {
    font-size: 50px;
    color:0;
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    margin-left: 91%;
}
ul li {
    line-height: 50px; 
}
ul li a {
    font-weight: bold;
    display: block;
    text-decoration: none;
    font-size: 28px;
    font-family: monospace;
    color: #000000;
    padding: 0 20px;
    transition: color 0.4s;
}
ul li a:hover {
    color: #b60000;
}
#about {
    padding-left: 50px;
}